{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Портал автодилера: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/logout/">Вихід із системи</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right " href="/car_dealer_portal/auth/">Головна</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/order_list/">Замовлення</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/manage_vehicles/">Машини</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/history/">Прибуток</a>
</div>
<h3 class="w3-center" style="padding-top:30"><b>Перелік замовлень на транспортний засіб</b></h3>
<div style="padding:18">
<table class="w3-table w3-striped w3-center">


  <tr>
    <th style="padding:20">Ім'я </th>
    <th style="padding:20">Колір</th>
    <th style="padding:20">Сума орендної плати </th>
    <th style="padding:20">Дні </th>
    <th style="padding:20">Дії
    </th>
  </tr>

  {% for order in order_list %}

  <tr>
    <td>{{order.vehicle.car_name}}</td>
    <td>{{order.vehicle.color}}</td>
    <td>${{order.rent}}</td>
    <td>{{order.days}}</td>
    <td><form action = "/car_dealer_portal/complete/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{order.id}}">
      <input class="w3-btn w3-indigo" type="submit" value="Завершено">
    </form></td>
  </tr>

{% endfor %}
</table>
</div>
{% endblock %}
